/** BORDERBOX EVERYTHING **/
*,*::before,*::after { box-sizing:border-box; }
/** COLORS **/
.primary { color:hsl(300, 43%, 22%);}
.secondary { color: hsl(333, 80%, 67%); }
.primary-bg {background-color:hsl(300, 43%, 22%);}
.dg-magenta {color: hsl(303, 10%, 53%);}
.lg-magenta {color: hsl(300, 24%, 96%); }
.lg-magenta-bg {background-color: hsl(300, 24%, 96%);}
.white {color: hsl(0, 0%, 100%);}

/** FONTS **/
html {font-size:10px;}
h1,h2,h3,h4,h5,h6,p,a { font-family: 'Spartan', sans-serif;font-size:1.5rem;font-weight:400;color:#222; }
h1,h2,h3,h4,h5,h6     { font-weight:700;font-size:30px;white-space: pre-line; }

/** WEIGHTS **/
.bold    { font-weight:700; }
.medium  { font-weight:500; }

/** semantics **/
h1,p {text-align:center; }
p {margin-bottom:3rem;line-height:175%;}
body {padding:6rem 2rem 12rem;}
footer {display:block;background-color:#eee;text-align:center;position: fixed;bottom:0;left:0; width:100%;padding:3rem;}

/** main wrapper **/
.main-wrapper { max-width:60rem;margin:0 auto; }

/** flex classes used for mobile and desktop **/
.flex {display:flex;}
.flex-column {flex-direction:column;}
.flex-row {flex-direction:row;}

/**section top **/
.section-top {margin-bottom:6rem;}

/** star review section **/
.star-review { display:flex; justify-content: space-evenly; flex-direction:column; align-items: center; }
.star-review,.card { border-radius: 0.5rem;margin:2rem 0; padding:1.5rem; max-width:48rem;align-items: center; }
.star-review span {margin-bottom:1.5rem;}
.star-review span img { margin:0 0.4rem;}
.star-review p { margin:0 0; font-size:14px; }

/** card section **/
.card {padding:3rem;}
.card-top {display:flex;justify-content: flex-start;flex-direction: row;margin-bottom:2rem;}
.card-top img {margin-right:2rem;}
.card h2, 
.card h3 {font-size:1.3rem;margin-top:0;margin-bottom:0.5rem;}
.card p {text-align: left;line-height:150%;margin-bottom:0;font-size:1.3rem;}
.card img {border-radius: 50%;width:40px;height:40px;}

/** media queries **/
@media screen and (min-width:760px){
    .section-top h1, .section-top p {text-align:left;}
    .star-review {flex-direction:row; justify-content:space-evenly;}
    .star-review, .card {width:40rem;}
    .star-review span {margin-bottom:0;}
    .flex-start {align-self: flex-start;}
    .flex-center {align-self: center;}
    .flex-end {align-self:flex-end;}
}
@media screen and (min-width:1060px){ 
    h1 {font-size:4rem; margin:0 0 2rem 0;}
    p {margin: 0 0;}
    .main-wrapper {max-width:108rem;}
    .section-top {display:flex;flex-direction: row;flex-wrap: nowrap;}
    .section-top-left {display:flex;flex-direction: column;}
    .section-half {width:50%;}
    .section-top-left {padding-right:4rem;}
    .section-bottom {height:30rem;display:flex;flex-direction:row;}
    .card {padding:4rem;margin:0 2rem;}
}